<section class="info">
    <div class="container">
        <div class="tabs">

            <ul class="tabs__caption">
                <li class="active --lato-b18 ">Limits</li>
                <li class="--lato-r18 --color-gray">Invoices</li>
            </ul>

            <div class="tabs__content --wrap active">
                <!--1-->
                <div class="progress">
                    <label class="progress-label flex --just-space" for="file">
                        <p class="progress-label__text --lato-r16">
                            Team members
                        </p>
                        <p class="progress-label__real">3
                            <span class="progress-label__all --color-gray">/6</span>
                        </p>
                    </label>
                    <progress class="progress-bar" id="file" value="32" max="60"> 30% </progress>
                    <p class="progress-team__text --color-gray">Need more members?
                        <span class="progress__link">Upgrade your plan</span></p>
                </div>
                <!--2-->
                <div class="progress">
                    <label class="progress-label flex --just-space" for="file">
                        <p class="progress-label__text --lato-r16">
                            Outgoing e-invoices
                        </p>
                        <p class="progress-label__real --color gray">Unlimited
                            <span class="progress-label__all --color-gray"></span>
                        </p>
                    </label>
                    <progress class="progress-bar" id="file" value="60" max="60"> 30% </progress>
                    <p class="progress-team__text --color-gray">
                        Send as many e-invoices as you want
                    </p>
                </div>
                <!--3-->
                <div class="progress">
                    <label class="progress-label flex --just-space" for="file">
                        <p class="progress-label__text --lato-r16">
                            Connected sources (banks)
                        </p>
                        <p class="progress-label__real">5
                            <span class="progress-label__all --color-gray">/5</span>
                        </p>
                    </label>
                    <progress class="progress-bar --bg-red" id="file" value="50" max="50"> 30% </progress>
                    <p class="progress-team__text --color-gray">Need more members?
                        <span class="progress__link">Upgrade your plan</span></p>
                </div>
            </div>

            <div class="tabs__content ">
                <p>какойто текс</p>
            </div>

            

            

        </div>
        <!-- .tabs -->
    </div>
</section>