<section class="invoicing">
    <div class="container">
        <div class="invoicing__start start flex --just-space">
            <div class="start__wrapper">
                <h1 class="start__title --metapolis-b36">
                    Invoicing Start
                </h1>
                <h3 class="start__price --metapolis-b24">6,99 €
                    <span class="start__price-mo --color-gray --metapolis-b20 ">
                        /mo
                    </span>
                </h3>
                <div class="start__month month flex">
                    <p class="month__text --color-gray">
                        We’ll charge 6,99 € on Jul 24, 2020
                    </p>
                    <a href="#" class="month__link --color-blue">Change card *** 5423 or billing info</a>
                </div>
                <div class="start__year year flex --align-center">
                    <a href="#" class="year__link">
                        Switch to annual plan
                    </a>
                    <p class="year__text">and save 24,00 € a year</p>
                </div>
            </div>
            <a href="#" class="start__change --color-blue">Change plan</a>
        </div>
        <div class="invoicing__new">
            <h4 class="invoicing__new-title --metapolis-b20 flex --align-center">
                Explore new features
            </h4>
            @@include('_premium.html')
        </div>
    </div>
</section>