<div class="invoicing-premium flex --just-space">
    <div class="invoicing-premium__wrapper">
        <h3 class="invoicing-premium__title --metapolis-b24 --color-blue">
            Invoicing Premium
        </h3>
        <ul class="invoicing-premium__list list-option">
            <li class="list-option__item flex">Unlimited outgoing e-invoices</li>
            <li class="list-option__item">Unlimited connected banks</li>
            <li class="list-option__item">10 users</li>
            <li class="list-option__item">Expense management</li>
        </ul>
    </div>
    <div class="invoicing-premium__price price">
        <h3 class="price__cash --metapolis-b24">20,99 €
            <span class="price__cash-mo  --metapolis-b20 ">
                /mo
            </span>
        </h3>
        <p class="price__text">billed annually or 24.99 € billed monthly</p>
        <a href="#" class="price__upgrade --lato-r16 ">
            Upgrade
        </a>
    </div>
</div>