<aside class="aside">
    <div class="container-aside ">
        <h6 class="title-personal --metapolis-b12">
            Personal
        </h6>
        <ul class="personal__list">
            <li class="personal__list-item">
                <a href="#" class="personal__list-link --lato-r16">
                    Profile
                </a>
            </li>
            <li class="personal__list-item">
                <a href="#" class="personal__list-link --lato-r16">
                    Security
                </a>
            </li>
            <li class="personal__list-item">
                <a href="#" class="personal__list-link --lato-r16">
                    Notifications
                </a>
            </li>
        </ul>
        <h6 class="title-tesla --metapolis-b12">
            Tesla s.r.L.
        </h6>
        <ul class="tesla__list">
            <li class="tesla__list-item">
                <a href="#" class="tesla__list-link --lato-r16">
                    Business profile
                </a>
            </li>
            <li class="tesla__list-item">
                <a href="#" class="tesla__list-link --lato-r16">
                    E-invoicing
                </a>
            </li>
            <li class="tesla__list-item ">
                <a href="#" class="tesla__list-link --lato-r16 --active-link">
                    Plan and limits
                </a>
            </li>
            <li class="tesla__list-item">
                <a href="#" class="tesla__list-link --lato-r16">
                    Team
                </a>
            </li>
        </ul>

    </div>
</aside>